<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{template :: head}">
  <title>Meus Pedidos</title>
</head>
<body>

  <div th:replace="~{template :: logo}"></div>

  <div class="container">
    <div th:replace="~{template :: titulo('Meus Pedidos')}"></div>

    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Todos</a>
        <a class="nav-item nav-link" href="#">Aguardando</a>
        <a class="nav-item nav-link" href="#">Aprovado</a>
        <a class="nav-item nav-link" href="#">Entregue</a>
      </div>
      <a class="btn btn-outline-secondary mx-2 mx-sm-0" href="/pedido/formulario">Novo</a>
    </nav>

    <div class="card mb-3" th:each="pedido : ${pedidos}">

      <th:block th:switch="${pedido.statusPedido.name()}">
        <div class="card-header alert alert-warning" th:case="'AGUARDANDO'" th:text="${pedido.nomeProduto}"></div>
        <div class="card-header alert alert-success" th:case="'APROVADO'" th:text="${pedido.nomeProduto}"></div>
        <div class="card-header alert alert-dark" th:case="'ENTREGUE'" th:text="${pedido.nomeProduto}"></div>
      </th:block>

      <div class="card-body">

        <div class="row">
          <div class="col-12 col-sm-6 col-md-8 mb-3">
            <div class="row ">
              <div class="col-md-5">Valor: <span th:text="${pedido.valorNegociado}"></span></div>
              <div class="col-md-7">Data da entrega: <span th:text="${pedido.dataEntrega}"></span></div>
            </div>
            <div>Produto</div>
            <div><input class="form-control" th:value="${pedido.urlProduto}"></div>
            <div>Descrição</div>
            <div>
              <textarea class="form-control" th:text="${pedido.descricao}">Descrição do pedido</textarea>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <img class="card-img-top" th:src="${pedido.urlImagem}" th:alt="${pedido.nomeProduto}">
          </div>
        </div>
      </div>

    </div>
  </div>

  <script th:replace="~{template :: bootstrapScript}"></script>

</body>
</html>