<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pedido</title>
</head>
<body>

  <div th:each="pedido : ${pedidos}">

    <div th:text="${pedido.nomeProduto}"></div>
    <div>Valor: <span th:text="${pedido.valorNegociado}"></span></div>
    <div>Data da entrega: <span th:text="${pedido.dataEntrega}"></span></div>

    <div>Produto</div>
    <div><input th:value="${pedido.urlProduto}" ></div>

    <div>Descrição</div>
    <div>
      <textarea th:text="${pedido.descricao}">Descrição do pedido</textarea>
    </div>

    <div>
      <img th:src="${pedido.urlImagem}" th:alt="${pedido.nomeProduto}"/>
    </div>
  </div>

</body>
</html>